.supplierDesc {
    box-sizing: border-box;
    max-width: 1488px;
    width: 97%;
    height: 15%;
    background: #f6f7f9;
    border-radius: 20px;
    margin: 0 auto;
    margin-left: 2rem;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2.5rem;
    display: flex;
    justify-content: flex-start;
}

.supplierName {
    color: #3853D8!important;
    font-size: 20px!important;
    font-weight: 600!important;
    letter-spacing: normal!important;
    line-height: 26px!important;
    cursor: pointer!important;
}