.defaultInput {
    margin-bottom: 1rem!important;
    width: 600px!important;
}

.defaultInput div {
    width: 250px!important;
}

.title {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin-top: 0rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
}

.analyticToolbar {
    margin-bottom: 2rem;
}

.submitBtn {
    font-weight: 500!important;
    font-size: 0.875rem!important;
    text-transform: uppercase!important;
}

.orderNumTitle {
    font-size: 28px;
    font-weight: 600;
    color: #3853D8;
}