.defaultInput {
    margin-bottom: 1rem!important;
    width: 600px!important;
}

.defaultInput div {
    width: 250px!important;
}

.title {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin-top: 0;
    margin-left: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
}

.analyticToolbar {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.noData {
    margin-left: 2rem;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
}

.submitBtn {
    font-weight: 500!important;
    font-size: 0.875rem!important;
    text-transform: uppercase!important;
}

.orderNumTitle {
    font-size: 28px;
    font-weight: 600;
    color: #ff4569;
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding-bottom: 40px;
}

.techMapTitle {
    position: sticky;
    top: 0;
    z-index: 5;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    padding: 10px 0;
    background-color: #FFF;
}

.techMapOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.techMapGraph {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}

.techMapGraphWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.techMapGraphTitle {
    font-size: 30px;
    line-height: 28px;
    font-weight: 600;
}

.job {
    position: relative;
    width: 200px;
    min-height: 150px;
    background-color: #ff4569;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    border-radius: 8px;
}

.jobNumber {
    position: absolute;
    top: 5px;
    left: 10px;
}

.job::before {
    position: absolute;
    content: '';
    top: 50%;
    right: -60px;
    width: 60px;
    height: 2px;
    background-color: #ff4569;
}

.job:last-child:before {
    display: none;
}

.job:nth-child(4):before {
    display: none;
}

.criticalPathTime {
    margin-top: 30px;
    font-size: 20px;
    line-height: 18px;
    font-weight: 600;
    font-style: italic;
}

.criticalPathTime span {
    color: #ff4569;
}

.fabs {
    position: fixed!important;
    right: 50px;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}